

.ih-item {
    position: relative;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.ih-item,
.ih-item * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ih-item a {
    color: #333;
}

.ih-item a:hover {
    text-decoration: none;
}

.ih-item img {
    width: 100%;
    height: 100%;
}

.ih-item.circle {
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

.ih-item.circle .img {
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

.ih-item.circle .img:before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.ih-item.circle .img img {
    border-radius: 50%;
}

.ih-item.circle .info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.ih-item.square {
    float: left;
    display:inline-block;
    position: relative;
    width: 285px;
    height: 294px;
    /*border: 3px solid #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);*/
}
.ih-item.square1 {
    float: left;
    display:inline-block;
    position: relative;
    width: 381px;
    height: 253px;
  
   float:left;
}
.ih-item.square .info {
    position: absolute;
    top: 0;
   /* bottom: 0;*/
    left: 0;
    right: 0;
    text-align: center;
    height:100%;
    top:-72px;
}
.ih-item.square1 .info{
    top:-54px;
}

.ih-item.circle.effect13.colored .info {
    background: #1a4a72;
    background: rgba(26, 74, 114, 0.6);
}

.ih-item.circle.effect13 .info {
    background: #333333;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.ih-item.circle.effect13 .info h3 {
    visibility: hidden;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
    font-size: 22px;
    margin: 0 30px;
    padding: 55px 0 0 0;
    height: 110px;
    text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.ih-item.circle.effect13 .info p {
    visibility: hidden;
    color: #bbb;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.ih-item.circle.effect13 a:hover .info {
    opacity: 1;
}

.ih-item.circle.effect13 a:hover h3 {
    visibility: visible;
   
}


.ih-item.circle.effect13 a:hover p {
    visibility: visible;
}

.ih-item.circle.effect13.from_left_and_right .info h3 {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

.ih-item.circle.effect13.from_left_and_right .info p {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

.ih-item.circle.effect13.from_left_and_right a:hover h3 {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.ih-item.circle.effect13.from_left_and_right a:hover p {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.ih-item.circle.effect13.top_to_bottom .info h3 {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

.ih-item.circle.effect13.top_to_bottom .info p {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

.ih-item.circle.effect13.top_to_bottom a:hover h3 {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.ih-item.circle.effect13.top_to_bottom a:hover p {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.ih-item.circle.effect13.bottom_to_top .info h3 {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}

.ih-item.circle.effect13.bottom_to_top .info p {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}

.ih-item.circle.effect13.bottom_to_top a:hover h3 {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.ih-item.circle.effect13.bottom_to_top a:hover p {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}



.ih-item.square.effect13 {
    overflow: hidden;
}

.ih-item.square.effect13.colored .info {
    background: #1a4a72;
    background: rgba(26, 74, 114, 0.6);
}

.ih-item.square.effect13.colored .info h3 {
    background: rgba(12, 34, 52, 0.6);
}

.ih-item.square.effect13 .img {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.ih-item.square.effect13 .info {
    background: #333333;
    background: rgba(0, 0, 0, 0.6);
    /*visibility: hidden;*/
   /* opacity: 0;*/
    pointer-events: none;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.ih-item.square.effect13 .info h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 20px;
    height:72px;overflow:hidden;line-height:72px;
    /*margin: 30px 0 0 0;*/
}

.ih-item.square.effect13 .info h3 {
    color: #fff;
    text-align: center;
    font-size: 20px;
    height:72px;overflow:hidden;line-height:72px;
       background:rgba(51,51,51,0.5);
    /*margin: 30px 0 0 0;*/
}
.ih-item.square1.effect13 .info h3 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 16px;
    height:54px;overflow:hidden;line-height:54px;
    background:rgba(51,51,51,0.5);
    /*margin: 30px 0 0 0;*/
}

.ih-item.square.effect13 .info h4{
    margin-top:10px;
    color: #eeeeee;
    display:inline-block;
    width:120px;
    height:32px;
    line-height:30px;
    border-radius:16px;
    border:1px solid #eeeeee;
    font-size:17.11px;

}
.ih-item.square1.effect13 .info h4{
    font-size:14px;
}
.ih-item.square.effect13 .info p {
    font-style: "微软雅黑";
    font-size: 18.67px;
    position: relative;
    color: #eeeeee;
    /*padding: 50px 20px 20px;*/
    text-align: center;
    line-height:30px;
}
.ih-item.square1.effect13 .info p{
    font-size:14px;
}
/*.ih-item.square.effect13 a:hover .img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
*/
.ih-item.square.effect13 a:hover .info {
    opacity: 1;
    height:380px;
}

.ih-item.square.effect13.left_to_right .info {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

.ih-item.square.effect13.left_to_right a:hover .info {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.ih-item.square.effect13.right_to_left .info {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

.ih-item.square.effect13.right_to_left a:hover .info {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.ih-item.square.effect13.top_to_bottom .info {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

.ih-item.square.effect13.top_to_bottom a:hover .info {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.ih-item.square.effect13.bottom_to_top .info {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}

.ih-item.square.effect13.bottom_to_top a:hover .info {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.bs-example{width:1200px;margin:0 auto;}
.ih-item.square.effect13{}
.row{display:inline-block;width:1200px;}

.fy{text-align:center;padding-top:20px}
.fy a{display:inline-block;padding:4px 10px;border:1px solid #f5e703;margin:0 2px;color:#d75e15;text-decoration:none}
.fy .ac{background:#3c9fee;border-color:#83c414;color:#fff}
.fy a:hover{background:#FFCC99;border-color:#83c414;color:#fff}

.newsline TD {
	LINE-HEIGHT: 25px; BORDER-BOTTOM: #c9c9c9 1px dashed
}
.newsline TD A:link {
	COLOR: #000
}
.newsline TD A:visited {
	COLOR: #000
}
.newsline TD A:hover {
	COLOR: #000
}
.newsline TD A:active {
	COLOR: #000
}
